.box1 {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border: 1px solid black;

    position: fixed;
    top: 0px;
    left: 0px;
  }
  .box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;

    position: absolute;
    top: 50px;
    left: 100px;
  }