p {
    /* border-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: red; */
    /* border-bottom-style: solid; */
    /* border-top-width: 20px;
    border-top-color: green; */
    /* border-top-style: dotted; */
    /* border-left-width: 5px;
    border-left-color: purple; */
    /* border-left-style: solid; */
    /* border-right-width: 25px;
    border-right-color: blue; */
    /* border-right-style: dotted; */

    border: 2px solid black;
    box-shadow: 5px 5px 5px red;
    padding: 5px 10px;
  }