.box {
    background: linear-gradient(to right, green, wheat);
    border: 1px solid black;
    height: 100px;
    margin-top: 8px;
  }
  .box-pixels {
    width: 300px;
  }
  .box-percentage {
    width: 50%;
  }
  .container {
    width: 400px;
    height: 200px;
    border: 1px solid black;
  }
  .box1 {
    width: 100px;
    background-color: yellow;
    height: 100px;
  }
  .box2 {
    width: 50%;
    background-color: red;
    height: 100px;
  }
  /* body {
    width: 400px;
    border: 1px solid black;
  } */
  .box3 {
    width: 50vw;
    background-color: blue;
    height: 100px;
    color: white;
  }