body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box{
    border: 2px solid;
    width: 400px;
    height: 400px;  
    margin: 12px ;
    padding: 12px 16px;
    border-radius: 15px;
    background-color: wheat;
    text-align: justify;

}
.box2 h2, .box6 h2, .box8 h2{
    color: red;
}
img{
    border: 2px;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    object-fit: cover;

}